*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    text-align: center;
}

h1{
    margin: 20px 0;
}

a:link, a:visited{
    color: blue;
    text-decoration: none;
}